* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body::-webkit-scrollbar-track{
    background-color: #c08057;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */


/* Handle */
::-webkit-scrollbar-thumb {
    background: #c08057;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c08057;
}